<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyson.visualization.grade.dao.GradeScoreMapper">
  <resultMap id="BaseResultMap" type="com.joyson.visualization.grade.model.GradeScore">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="grade_line_id" jdbcType="BIGINT" property="gradeLineId" />
    <result column="score" jdbcType="NVARCHAR" property="score" />
  </resultMap>

  <select id="selectGradeScoreList" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    select gradeScore.id,
    gradeScore.grade_line_id as gradeLineId,
    userInfo.UserName as userName,
    gradeScore.score
    from TSData.dbo.grade_score gradeScore, TSData.dbo.Userinfo userInfo
    where gradeScore.user_id = userInfo.id
    and gradeScore.grade_line_id = #{gradeLineId, jdbcType=BIGINT};
  </select>

  <update id="updateGradeScore" parameterType="com.joyson.visualization.grade.model.GradeScore">
    update grade_score
    set score = #{score, jdbcType=NVARCHAR}
    where id = #{id, jdbcType=BIGINT}
  </update>

  <delete id="deleteGradeScore">
    delete from TSData.dbo.grade_score where user_id not in
    (select ID from TSData.dbo.Userinfo where Del = 0 and Luncurr = '在职')
  </delete>
</mapper>